.App {
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  font-size: 38px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navList ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  
}

.navList ul li {
    margin:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.contactBtn{
  width: 153.14px;
  height: 54px;
  background: #7DE0EA;
  border-radius: 12.8px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
}
